
/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        padding: 0 2%;
        width: 46%;
        font-size: 110%;
    }

    .row { padding: 0 1%; }
    .section-ourpeople .row{
      padding: 0 10%;
    }

    .slidebar{
      display: block;
    }
    .india2{
      display: none;
    }
    .news-img,.news-cont{
      display: block;
      width: 100%;
      margin: 3px 0;
      padding: 2px;
    }
    .news-img{
      height: auto;
    }
    .section-ourpeople .col{
      width: 49%;
    }

}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .col {
        width: 49.2%;
        margin: 0 0 4% 0;
    }
    .section-ourpeople .col{
      margin: 0 2px 4px 2px;
      height: 440px;
    }
    .news-img,.news-cont{
      display: block;
      width: 100%;
      margin: 3px 0;
      padding: 2px;
    }


    .city-feature { font-size: 90%; }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    .section-learn .col{
      width: 32.26%;
    }
    .main-nav,.sidebar { display: none; }
    .mobile-nav-icon {
      display: block;}

    .sidebar {
        float: right;
        margin-top: 30px;
        margin-left: 25px;
        background-color: rgb(60, 64, 60);
        padding: 10px ;
    }
    .sidebar ul{
      text-align: center;
      display: inline-block;
    }

    .sidebar li {
        display: block;

        margin: auto;
    }

    .sidebar li a{
      text-align: center;
      border: 0;
    }

    .sidebar li a:link,
    .sidebar li a:visited {
        /* display: block; */
        display: block;
        border-radius: 0;
        padding: 10px 5px;;
        font-size: 100%;
        margin: auto;

    }
    .sidebar li a:hover,
    .sidebar li a:active {
      border-bottom: 2px solid rgb(44, 90, 251);
      border-radius: 0;
    }

    .sub:link,.sub:visited,.sign:link,.sign:visited {
        color: white;
        background-color: rgb(60, 64, 60);
    }
    .sub:hover,.sub:active,.sign:hover,.sign:active{
      background-color: rgb(60, 64, 60);
      color: rgb(44, 90, 251);
    }

    .india2 {
      color:white;
      display: inline-block;
      text-decoration: none;
      font-size: 70%;
      margin-left: 20px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .india2 span:link,.india2 span:visited{
      color:black;
      text-decoration: none;
      border-bottom: 0px;
    }
    .india2 span:hover,.india2 span:active{
      color:rgb(44, 90, 251);
    }

}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 17px; }
    section { padding: 30px 0; }

    .row,
    .hero-text-box { padding: 0 4%; }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .section-ourpeople .col{
      width: 60%;
      margin-right: auto;
      margin-left: auto;
    }
    .section-learn .col{
      width: 100%;
    }

    h1 { font-size: 180%; }
    h2 { font-size: 150%; }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    .para{
      width: 90%;
      font-size: 90%;
      line-height: 160%;
    }


}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section { padding: 25px 0; }

}
